input[type="text"] {
    background-image: url(../img/ui/text.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem);
}

.custom-dd__search {
    background-image: url(../img/ui/search.svg) !important;
}