.form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.mainform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: end;
}

.params-scenario-library {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    justify-items: stretch;
}

.screenshoot {
    width: 100%;
    border-radius: 15px;
}

.description-text {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 200px;
    border-radius: 15px;
    resize: vertical;
    background-color: #2a2a2a;
    color: #e0e0e0;
}

.main-page-input {
    width: 200px;
    box-sizing: border-box;
    padding: 8px 12px;
    background-color: #2a2a2a;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    color: #e0e0e0;
    font-size: 14px;
}

.header-scenario {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.action-button {
    background-color: #2a2a2a;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: var(--hover-color);
}